@media screen and (min-width: 1200px) {
  .home {
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 420px);
    grid-column-gap: 20px;
    max-width: 90%;
    margin: 0 auto;
  }

  .container-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    align-items: baseline;
  }

  .aside-img-title:hover {
    color: var(--secundary);
  }

  .saturate:hover {
    filter: saturate(10%);
  }

  .center-container {
    margin: 10px auto;
    max-width: 90%;
  }

  #event {
    grid-column: 1;
    grid-row: 1;
  }

  #news {
    grid-row: 3;
    height: 450px;
    text-align: left;
    line-height: 1.5em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -200px;
  }
  #join {
    grid-column: 1;
    grid-row: 3;
  }

  #hero {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 600px;
  }

  #associates {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /*   section {
    height: 400px;
  } */

  footer div:nth-child(1) {
    display: flex;
    justify-content: space-around;
  }

  .discover-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
  }

  section.discover-aside-section {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .join-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    align-items: baseline;
  }

  .join-form-container h1 {
    text-align: center;
  }

  div.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1 / 1;
    width: 50%;
    margin: 0 auto;
  }

  div.membership:hover {
    box-shadow: rgba(11, 43, 158, 0.15) 0px 10px 20px -2px;
    transform: translateY(-4px);
  }

  div.form-container textarea {
    width: 100%;
  }

  div.membership {
    padding: 0 15px;
    margin: 8px 0;
  }

  button[type="submit"].submit-button-form {
    width: 50%;
  }

  div.flex-center {
    display: flex;
    justify-content: center;
  }

  .socials {
    grid-column: 3;
  }

  .selectionMenu {
    grid-column: 2;
    grid-row: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hamburger {
    display: none;
  }
  header {
    grid-template-columns: repeat(3, 1fr);
  }

  .selectionMenu ul {
    display: flex !important;
  }
  /*-------- Start Directory page --------*/
  div.companies-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  div.company-card:hover {
    transform: translateY(-4px);
  }
  div.company-card-list-layout {
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 1em;
    text-align: center;
    outline: 1px solid black;
    justify-content: space-between;
  }
  /*-------- End Directory page --------*/

  /*-------- Start Thank you page --------*/

  div.thankyou {
    width: 40%;
    margin: 150px 0;
  }
  /*-------- End Thank you page --------*/
}
