@media screen and (min-width: 700px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
  }
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
  }

  .socials {
    grid-column: 3;
  }

  .selectionMenu {
    grid-column: 2;
    grid-row: 1;
  }

  ul.closed .link {
    display: initial;
    font-size: 20px;
  }

  ul.closed .link a:hover {
    transition: color 300ms ease-out;
    color: var(--secundary);
  }

  .socials__img {
    width: 32px;
    filter: invert(1);
    transition: filter 500ms linear;
    -webkit-transition: -webkit-filter 500ms linear;
  }
  .socials__img:hover {
    filter: invert(0);
  }

  span[id] {
    grid-column: span 4;
  }

  #weather__content {
    background-color: #e5e5e5;
    margin: 10px;
    text-align: center;
    height: 280px;
  }

  #associates {
    display: flex;
    gap: 15px;
  }

  .listMenu {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

  #hero {
    grid-column: span 2;
  }

  #event {
    grid-column: span 1;
  }

  #weather {
    grid-column: 1;
  }

  #join {
    grid-column: 2;
    grid-row: 2;
  }

  #associates {
    grid-row: 3;
    grid-column: span 2;
  }

  footer div:nth-child(1) {
    display: flex;
    justify-content: space-around;
  }
}
