@media screen and (min-width: 700px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 480px 1fr 1fr 1fr;
    column-gap: 20px;
  }

  ul.closed .link {
    display: initial;
    font-size: 20px;
  }

  ul.closed .link a:hover {
    transition: color 300ms ease-out;
    color: var(--secundary);
  }

  .socials__img {
    width: 32px;
    filter: invert(1);
    transition: filter 500ms linear;
    -webkit-transition: -webkit-filter 500ms linear;
  }
  .socials__img:hover {
    filter: invert(0);
  }

  span[id] {
    grid-column: span 4;
  }

  #weather__content {
    background-color: #e5e5e5;
    margin: 10px;
    text-align: center;
    height: 280px;
  }

  #associates {
    display: flex;
    gap: 15px;
  }

  .listMenu {
    display: flex;
    justify-content: space-around;
  }

  #hero {
    grid-column: span 2;
    height: 467px;
  }

  #event {
    grid-column: span 1;
  }

  #weather {
    grid-column: 1;
    overflow: initial;
  }

  #join {
    grid-column: 2;
    grid-row: 2;
  }

  #associates {
    grid-row: 3;
    grid-column: span 2;
  }

  section.discover-aside-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
  }

  .saturate:hover {
    filter: saturate(10%);
  }
  div.card {
    margin: 80px 0;
  }

  /*-------- Start Directory page --------*/
  div.companies-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  div.company-card-grid-layout {
    width: 70%;
  }
  div.company-card-list-layout {
    width: auto;
  }
  div.company-card.list {
    width: auto;
  }
  /*-------- End Directory page --------*/
}
