/*-------- HEADER --------*/
header {
  background-color: #80b82d;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}
#hamburger {
  border: 1px solid #fff;
  color: white;
  padding: 0 5px;
}
/*-------- END HEADER --------*/

/*-------- HERO --------*/
.hero__image {
  position: relative;
}
.call-to-action {
  position: absolute;
  left: 50%;
  bottom: 1%;
}
/*-------- END HERO --------*/

/*-------- FOOTER --------*/
footer {
  background-color: #80b82d;
}

.footer-info {
  display: flex;
  flex-direction: column;
}
/*-------- END FOOTER --------*/
