:root {
  --primary: #80b82d;
}
/*-------- HEADER --------*/
header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}
#hamburger {
  border: 1px solid #fff;
  color: white;
  padding: 0 5px;
}
/*-------- END HEADER --------*/

/*-------- HERO --------*/
.hero {
  align-items: center;
  background-image: url(../images/hero_small.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.call-to-action {
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}
/*-------- END HERO --------*/

/*-------- BEST SELLERS --------*/
.best_sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best_sellers_item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.best_sellers_item_info__price {
  color: var(--primary);
}
/*-------- END BEST SELLERS --------*/

/*-------- SUMMARY OF THE AREA --------*/
.summary_area {
  height: 300px;
  background-color: red;
  color: white;
}
/*-------- END SUMMARY OF THE AREA --------*/

/*-------- WEATHER --------*/
.weather {
  /* height: 300px; */
  background-color: green;
  color: white;
}

.weathertest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-weather__city-description {
  margin-bottom: 1rem;
}

#current_weather__temperature {
  align-self: center;
  width: 60px;
  margin-left: 1rem;
}

p#current-weather__city {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.current-weather__temp-icon {
  display: flex;
  margin-bottom: 1rem;
}

div.weather h2 {
  text-align: center;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.forecast__item {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

/*-------- END WEATHER --------*/

/*-------- SUBMITTED DRINKS --------*/
.submitted_drinks {
  height: 300px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.submitted_drinks__title {
  color: var(--primary);
}

.submitted_drinks_counter {
  font-size: 3rem;
}
/*-------- END SUBMITTED DRINKS --------*/

/*-------- FOOTER --------*/
footer {
  background-color: #80b82d;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 1rem 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-info a {
  color: black;
  text-decoration: none;
  margin: 1rem 0;
}
/*-------- END FOOTER --------*/
