@media screen and (min-width: 1200px) {
  .hero-text-container {
    margin-right: 35%;
  }

  .bf-logo {
    width: 40%;
  }
  #hamburger {
    display: none;
  }
  #submenu {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  }

  #submenu a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    font-size: 1.5rem;
  }

  #submenu a:hover {
    color: var(--primary);
  }

  .social-large {
    display: inline;
    text-align: end;
  }

  .social-large a img {
    width: 7%;
    margin: 0 1rem;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .best_sellers {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #weather {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .submitted_drinks {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .best_sellers_items {
    justify-content: center;
  }

  /*-------- FRESH PAGE --------*/
  .fresh-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 1.5rem;
  }
  #right-side {
    background: url(../images/fresh-page/custom-drink.webp);
    background-position: center center;
    background-size: cover;
  }
  .modal__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*-------- END FRESH PAGE --------*/

  /*-------- ABOUT US --------*/
  .team-members {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-us-section {
    margin: 1rem auto;
  }
  /*-------- END ABOUT US --------*/
}
