@media screen and (min-width: 700px) {
  /*-------- BEST SELLERS --------*/
  .best_sellers_items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .best_sellers_item {
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 90%;
  }
  /*-------- END BEST SELLERS --------*/

  /*-------- FRESH PAGE --------*/
  .modal__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  /*-------- END FRESH PAGE --------*/

  /*-------- FOOTER --------*/
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer div#contact {
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .bf-logo-footer {
    width: 70%;
  }
  /*-------- END FOOTER --------*/
}
